

a {
    position: absolute;
    /* display: block; */
    width: 180px;
    height: 150px;
    top: 50%;
    left: 45%;
    z-index: 2;
    opacity: 0;
}

.div_img {
    position: relative;
    
}

